<div class="container" style="margin-top: 50px">
    <blockquote>
        <p class="text-primary">Knowledge is power!我不是为了输赢，我就是认真。</p>
        <small>Software Dreamer</small>
        <p class="text-success text-right"><span class="label label-danger">Powered by Harry</span></p>
    </blockquote>
</div>