<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include head%>
<!-- /head -->
<body>
<!-- header -->
<%- include header%>
<!-- /header -->
<!-- main content -->
<div class="container" style="padding-top:60px;width: 450px">
    <form method="post">
        <div class="input-group">
            <p class="login-label text-primary" for="inputSuccess">用户名:</p>
            <input name="user_name" type="text" class="form-control" placeholder="邮箱/手机号/账号">
        </div>
        </br>
        <div class="input-group">
            <p class="login-label text-primary">&nbsp;&nbsp;密码:</p>
            <input name="password" type="password" class="form-control" placeholder="密码">
        </div>
        </br>
        <div class="text-right">
            <button type="reset" class="btn btn-primary">重置</button>
            <button type="submit" class="btn btn-primary">登录</button>
            <p class="text-success text-center login-info" style="height: 40px"><%= info%></p>
        </div>
    </form>
</div>
<!-- main content-->
<!-- footer -->
<%- include footer%>
<!-- /footer -->
</body>
</html>