<div class="container">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="g_26 fl m_l">
            <h2>技术人员，请注意那些被你忽略的重要事情</h2>
            <div class="content bgF8F8F8 f14">
                <div id="content">
                    <p></p><p>对于很多做技术的朋友，包括我自己在内，一直以为：只要技术牛，就可以活的非常滋润；只要技术牛，就可以拿优厚的待遇；只要技术牛，就可以拉着几个小伙伴搞自己的“事业”；只要技术牛，就可以驰骋IT江湖。</p>
                    <p>很多的事情，或许是我们预期太高，期望太美好，或者就是我们自己一厢情愿的“意淫”。因为我们总是“这山望着那山好，只要到了山顶，一切就会不一样”。其实事情不是这样的。</p>
                    <p>说教无益，下面就说下自己的一些经历和感受，希望对大家有用，如果冒犯，请一笑了之。</p>
                    <p><strong>技术重要，软实力更加重要</strong></p>
                    <p>说到这里，大家心里会有很多的嘀咕：作为我们搞技术的，技术就是生命，技术就是立身之本，技术就是饭碗，你说技术不重要，唬谁呢！</p>
                    <p>其实说到了软实力，就是我们本身最人性的东西，例如，性格，品性，做人态度，做事风格，解决问题的思维方式，看待事务的角度….</p>
                    <p>很多人可以凭着热情，兴趣，把技术做到很厉害，甚至达到顶峰，但是，我们发现一点：到最后，做成了事的，一定不是因为他仅仅只有强悍的技术能力。</p>
                    <p>换句话说，对于我们很多人员，我们如果拼命的努力，顽强的学习，很多人都可以成为高手，牛人。但是，在技术层面上，其实是可以被人超越的，但是，你的思维，人性方面的东西，别人无法Copy，也很难超越。我们终有一天，会遇到“长江后浪推前浪”的局面，我们拿什么来和后辈竞争。</p>
                    <p>常常和一些公司的朋友在一起聊，大家都发现很多的技术人员到了一定的程度就上不去了，尽管技术在不断的深化，但是待遇和职位就是停在那里不动。不是每个公司都像阿里，腾讯这样，会给技术人员足够的空间去发展，提升。</p>
                    <p>有个朋友，做技术也不错，做了多年的架构师，而且主要是偏重在技术上面。后来去一个公司面试技术总监，而老板是市场出身，是一个完全不懂技术人。在面试过程中，老板肯定丝毫没有提到技术的问题，而提出的都是关于做事方式，思维方式，和解决问题的思路，还有一些个人经历、性格方面的问题，尽管这个朋友从来没有真正做过管理职位，尽管这个朋友从来没有带过几十人的团队，但是老板当时就拍板录用。除了说明老板的魄力之外，我们也可以看到“对于高层人员而已，软实力很重要”。</p>
                    <p>当一堆技术能力相当，背景差不多的人在一起竞争一个位置的时候，最后决定成败的就是“软实力”，人性方面的因素，所以，阿里在选择一个不懂技术的王坚，最后把阿里云搞上去。甚至有时候，在选择人员上，软实力会比技术能力更加重要，这也为什么很多公司会选择：“这个人虽然能力不强，但是很上进，我们更愿意要他”。</p>
                    <p><strong>不要以“技术人员都很宅为理由”</strong></p>
                    <p>每次让技术人员做一些“出众”的事情的时候，很多的人总是躲躲闪闪，要么是上不了台，要么就是上台之后哆哆嗦嗦，要么就是呆在那里….</p>
                    <p>一直以来，很多人都说“搞技术的都很宅”，所以每次看到技术人员闷不吭声，每次看到技术人员沉默寡言的时候，我们都“容忍”了。同时，我们做技术的也认同了这个“公理”，在心里把我们自己禁锢，给自己找了一个“公认”的借口不去和别人接触，不主动的去与人沟通，不积极的出去露面。</p>
                    <p>我们很多的人都对那些技术大会上面的大牛演讲者羡慕不已，都希望自己有朝一日可以也可以站在台上面意气风发，也希望自己被万众瞩目。后来，我陆陆续续的也有幸的接触到了一些这些大会的讲师，其实很多时候，他们也是被“逼着”上去的，都是硬着上了。而且在演讲之前，已经提前几个月在家里反反复复的练习了很多遍。每次我们看到只是别人的光环，却没有关注背后的辛酸。</p>
                    <p>对于技术，有个朋友说的非常好：你自己懂，不算真的懂；你自己懂，要写出了让别人；也懂，你自己懂，要讲出来让别人懂。这才说明你真的懂了。</p>
                    <p>我们很多人做技术的时候，喜欢把知识“焖“在心中，从来不吐露出来。在现在，技术人员是要”勇于发声“的。</p>
                    <p>如果说80%的技术人员都是“宅”的，如果你不“宅”，你发声了，起码你就在某种程度上面超过了他们。</p>
                    <p>今天就暂时到这里，写博很难，IT不易，且看且珍惜。</p>
                    <p>博文地址：<a href="http://yanyangtian.blog.51cto.com/2310974/1427234">http://yanyangtian.blog.51cto.com/2310974/1427234</a></p>
                    <br>

                    <p class="blank1"></p>
                </div>
            </div>
            <!--内容 end-->
        </div>
    </div>
</div>