<div id="tags" class="container article_list" style="padding-top:60px">
    <%tags.forEach(function (tag, index) {%>
    <a href="/tags/<%= tag%>" class="label label-default">&nbsp;<%= tag%>&nbsp;</a>
    <%})%>
</div>