.login-label {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
    font-size: 18px;
    font-weight: 200;
    font-family: '黑体';
}
.login-info {
    font-size: 14px;
    font-weight: 200;
    font-family: '黑体';
}
.container .media .label:hover{
    background-color:#36b1da;
}

#tags .label:hover{
    background-color:#F1110B;
}

a:hover,a:active{
    color: red;
    text-decoration:none;
}
.unit{
    margin: 0 0 20px 0;
    padding: 0 0 11px 0;
    background: url(/img/line.jpg) repeat-x bottom;
}
.article_list_left{
    float: left;
    width: 800px;
    overflow: hidden;
    margin: 0 19px 0 0;
    border-right: 1px #ddd solid;
    padding-right: 19px;
}
.article_list_right{
    float: left;
    width: 300px;
    overflow: hidden;
    font: normal 13px/24px Helvetica, Tahoma, Arial, sans-serif;
}
.report {
    margin: 0 0 20px 0;
}
.report h2{
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.tit_2 {
    margin: 0 0 20px 0;
    font-size: 14px;
    line-height: 24px;
    background: url(/img/title_line_red.jpg) repeat-x bottom;
}
